<!doctype html>
<meta http-equiv="refresh" content="5">
<head>
    <title>URLShortener Status</title>
</head>
<body>
    <h1>URLShortener Status</h1>
    <div>
    {% for k, v in status.items() %}
    <h2>{{ k }}</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>State</th>
            <th>Message</th>
        </tr>
        {% for image, state, message in v %}
        <tr>
            <th>{{ image }}</th>
            <th>{{ state }}</th>
            <th>{{ message }}</th>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    </div>
</body>
